<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.confession.mapper.AcceptUserFeedbackMapper">

    <resultMap id="BaseResultMap" type="com.confession.pojo.AcceptUserFeedback">
            <id property="id" column="Id" jdbcType="INTEGER"/>
            <result property="userid" column="UserId" jdbcType="INTEGER"/>
            <result property="message" column="Message" jdbcType="VARCHAR"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="isRead" column="IsRead" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,UserId,Message,
        CreateTime,IsRead
    </sql>
</mapper>
