<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.confession.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.confession.pojo.Admin">
        <id column="Id" property="id" />
        <result column="SchoolId" property="schoolId" />
        <result column="UserId" property="userId" />
        <result column="ConfessionWallId" property="confessionWallId" />
        <result column="PhoneNumber" property="phoneNumber" />
        <result column="WeChatId" property="weChatId" />
        <result column="CreateTime" property="createTime" />
        <result column="Permission" property="permission" />
        <result column="IsDeleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, SchoolId, UserId, ConfessionWallId, PhoneNumber, WeChatId, CreateTime, Permission,IsDeleted
    </sql>

</mapper>
