<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.confession.mapper.ConfessionwallMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.confession.pojo.Confessionwall">
        <id column="Id" property="id" />
        <result column="SchoolId" property="schoolId" />
        <result column="CreatorUserId" property="creatorUserId" />
        <result column="AvatarURL" property="avatarURL" />
        <result column="WallName" property="wallName" />
        <result column="Description" property="description" />
        <result column="CreateTime" property="createTime" />
        <result column="Status" property="status" />
        <result column="IsDeleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, SchoolId, CreatorUserId, AvatarURL, WallName, Description, CreateTime, Status,IsDeleted
    </sql>

    <select id="isWallInSchool" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM confessionwall WHERE SchoolId = #{schoolId} AND Id = #{wallId}
    </select>
    


</mapper>
