<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.confession.mapper.ConfessionpostreviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.confession.pojo.Confessionpostreview">
        <id column="Id" property="id" />
        <result column="PostIds" property="postIds" />
        <result column="ReviewerId" property="reviewerId" />
        <result column="ReviewStatus" property="reviewStatus" />
        <result column="ReviewTime" property="reviewTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, PostIds, ReviewerId, ReviewStatus, ReviewTime
    </sql>

</mapper>
