<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.confession.mapper.ConfessionpostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.confession.pojo.Confessionpost">
        <id column="Id" property="id" />
        <result column="WallId" property="wallId" />
        <result column="UserId" property="userId" />
        <result column="TextContent" property="textContent" />
        <result column="ImageURL" property="imageURL" />
        <result column="CreateTime" property="createTime" />
        <result column="PublishTime" property="publishTime" />
        <result column="IsDeleted" property="deleted" />
        <result column="PostStatus" property="postStatus" />
        <result column="IsAnonymous" property="isAnonymous" />
        <result column="IsAdminPost" property="isAdminPost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, WallId, UserId, TextContent, ImageURL, CreateTime, PublishTime,IsDeleted, PostStatus,IsAnonymous,IsAdminPost
    </sql>

    <select id="getPostCountByUserIdAndDate" resultType="int">
        SELECT COUNT(*) FROM confessionpost WHERE userId = #{userId} AND DATE(CreateTime) = CURDATE() AND IsAdminPost = false
    </select>


    <select id="getAdminPostCount" resultType="int">
        SELECT COUNT(*) FROM confessionpost WHERE DATE(CreateTime) = CURDATE() AND IsAdminPost = true
    </select>

    <select id="getConfessionPostIDsByWallId" resultType="com.confession.comm.RecordIDCache">
        SELECT Id as id, UNIX_TIMESTAMP(PublishTime) as timeStamp
        FROM confessionpost
        WHERE (WallId = #{wallId} OR IsAdminPost = true) AND PostStatus = 1 AND IsDeleted=false
        ORDER BY PublishTime DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>





</mapper>
