<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.confession.mapper.SchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.confession.pojo.School">
        <id column="Id" property="id" />
        <result column="SchoolName" property="schoolName" />
        <result column="AvatarURL" property="avatarURL" />
        <result column="Description" property="description" />
        <result column="CreatorId" property="creatorId" />
        <result column="CreateTime" property="createTime" />
        <result column="CarouselImages" property="carouselImages" />
        <result column="Prompt" property="prompt" />
        <result column="IsAdminPost" property="isAdminPost" />
        <result column="IsDeleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, SchoolName, AvatarURL, Description, CreatorId, CreateTime,CarouselImages,Prompt,IsAdminPost,IsDeleted
    </sql>

</mapper>
